<%- include('adminHeader') %>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Orders Table
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Order Id</th>
                                    <th>Sender's Name</th>
                                    <th>Sender's Phone no</th>
                                    <th>Reciever's Name</th>
                                    <th>Reciever's Phone NO.</th>
                                    <th>PickUp Address</th>
                                    <th>Drop Address</th>
                                    <th>LandMark</th>
                                    <th>Selected Goods Type</th>
                                    <th>Quantity</th>
                                    <th>package weight</th>
                                    <th>order-type</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Order Id</th>
                                    <th>Sender's Name</th>
                                    <th>Sender's Phone no</th>
                                    <th>Reciever's Name</th>
                                    <th>Reciever's Phone NO.</th>
                                    <th>PickUp Address</th>
                                    <th>Drop Address</th>
                                    <th>LandMark</th>
                                    <th>Selected Goods Type</th>
                                    <th>Quantity</th>
                                    <th>package weight</th>
                                    <th>order-type</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <%OrderItemList.reverse().forEach(order => {%>
                                <tr>
                                    <td><%=order._id%></td>
                                    <td><%=order.sendersName%></td>
                                    <td><%=order.senderPhnNo%></td>
                                    <td><%=order.recieverName%></td>
                                    <td><%=order.recieverPhnNo%></td>
                                    <td><%=order.pickupAdd%></td>
                                    <td><%=order.dropAdd%></td>
                                    <td><%=order.Landmark%></td>
                                    <td><%=order.goodsType%></td>
                                    <td><%=order.quantity%></td>
                                    <td><%=order.PackageWeight%></td>
                                    <td><%=order.radio1%></td>
                                </tr>
                                <%})%>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Bhada.Co 2K22</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <!-- <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script >
        window.addEventListener('DOMContentLoaded', event => {
    // Simple-DataTables
    // https://github.com/fiduswriter/Simple-DataTables/wiki

    const datatablesSimple = document.getElementById('datatablesSimple');
    if (datatablesSimple) {
        new simpleDatatables.DataTable(datatablesSimple);
    }
});
    </script>

    <script>window.addEventListener('DOMContentLoaded', event => {

        // Toggle the side navigation
        const sidebarToggle = document.body.querySelector('#sidebarToggle');
        if (sidebarToggle) {
            // Uncomment Below to persist sidebar toggle between refreshes
            // if (localStorage.getItem('sb|sidebar-toggle') === 'true') {
            //     document.body.classList.toggle('sb-sidenav-toggled');
            // }
            sidebarToggle.addEventListener('click', event => {
                event.preventDefault();
                document.body.classList.toggle('sb-sidenav-toggled');
                localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
            });
        }
    
    });</script>
</body>
</html>